header {
    font-weight: bold;
}

.input-group {
    font-weight: normal;
}

li.dropdown > ul > li > a {
    font-weight: bold;
    color: #777;
}

.navbar-brand img {
    margin-top: -4px;
}

.navbar-form {
    float: right;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
    box-shadow: 0 -2px 0px 0px #ca0012 inset;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #b30014;
}

.navbar-nav .open .dropdown-menu :hover {
    color: white;
    background-color: #ca0012;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    box-shadow: 0 -2px 0px 0px #ca0012 inset;
}



@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background-color: #b30014;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ca0012;
}

.navbar-default .navbar-toggle:focus {
    border-color: #ca0012;
    background-color: #e7e7e7
}

#pageContent {
    width: 95%;
    margin: 55px auto;
    font-size: 1.2em;
    height: 100vh;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    height: 72px;
    padding: 10px;
    width: 100%;
}

.row {
    width: 100%;
    margin: 0px;
}

footer ul li {
    float: left;
    padding: 0 5px;
}

footer ul a {
    text-decoration: none;
    color: #777;
}

#footerText ul:first-of-type a {
    color: #333;
    padding-right: 12px;
}

#footerLogo {
    padding-top: 12px;
}

#footerText {
    font-weight: bold;
}

@media (max-width: 991px) {
    footer {
        display: none;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
  .navbar-form {
      float: left !important;
      width: 100% !important;
  }
  .input-group {
      width: 101% !important;
  }

  #pageContent {
      margin: 110px auto;
  }
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.login-register {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.login-register table {
    margin: 30px auto;
    background-color: #f8f8f8;
    width: 30%;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .login-register table {
        margin: 0 auto;
        background-color: #f8f8f8;
        width: 100%;
    }
}

.login-register table td {
    padding-top: 2em;
}

.login-register table tfoot td {
    padding: 2em 0;
    color: #333;
}

.login-register table th {
    border-bottom: 3px solid #b30014;
    text-align: center;
    color: #777;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 0em;
    box-sizing: border-box;
    height: 3.5em;
}

.login-register table input {
    text-align: center;
}