<div ng-controller="loginController">   
<fieldset class="login-register">
    <form ng-submit="login()">
        <table>
            <thead>
                <tr>
                    <th>Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text"  ng-model="username" placeholder="Username"></td>
                </tr>
                <tr>
                    <td><input type="password" ng-model="password" placeholder="Password"></td>
                </tr>
                <tfoot>
                    <tr>
                        <td><input type="submit" value="Login" ></td>
                    </tr>
                </tfoot>

            </tbody>
        </table>
    </form>
</fieldset>

</div>